<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <title>Vanilla Tweaks 1.8.9</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid mx-5">
            <a href="#" class="navbar-brand">Vanilla Tweaks for 1.8.9</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" target="”_blank”" href="https://vanillatweaks.net/picker/resource-packs/">
                            Based on Vanilla Tweaks
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="”_blank”" href="https://github.com/lenemter/Vanilla-Tweaks-1.8.9">
                            Source Code
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <main>

            <div class="alert alert-warning">
                These Packs <strong>always</strong> use the new Minecraft Default Textures
            </div>

            <div class="accordion" id="accordionCategories">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="categories-aesthetic-header">
                        <buttton class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#categories-aesthetic-collapse" aria-expanded="true"
                            aria-controls="categories-aesthetic-collapse">
                            Aesthetic
                        </buttton>
                    </h2>
                    <div id="categories-aesthetic-collapse" class="arrordion-collapse collapse show"
                        aria-labelledby="categories-aesthetic-header">
                        <div class="accordion-body">
                            <div class="tweak">
                                <img src="https://vanillatweaks.net/assets/resources/icons/resourcepacks/1.19/CherryPicking.png?v1"
                                    alt="Cherry Picking Image" class="tweak-img">
                                <h4 class="tweak-title">Cherry Picking</h4>
                            </div>
                            <!-- Cherry Picking -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="cherry_picking" />
                                <label class="form-check-label" for="cherry_picking">
                                    Cherry Picking
                                </label>
                            </div>
                            <!-- Diffrent Stems -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="diffrent_stems" />
                                <label class="form-check-label" for="diffrent_stems">
                                    Diffrent Stems
                                </label>
                            </div>
                            <!-- Red Iron Golem Flowers -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="red_iron_golem_flowers" />
                                <label class="form-check-label" for="red_iron_golem_flowers">
                                    Red Iron Golem Flowers
                                </label>
                            </div>
                            <!-- Vibrant Bed -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="vibrant_bed_icon" />
                                <label class="form-check-label" for="vibrant_bed_icon">
                                    Vibrant Bed Icon
                                </label>
                            </div>
                            <!-- Splash Bottle o' Enchanting -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="splash_bottle_o_enchanting" />
                                <label class="form-check-label" for="splash_bottle_o_enchanting">
                                    Splash Bottle o' Enchanting
                                </label>
                            </div>
                            <!-- Plain Leather Armor -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="plain_leather_armor" />
                                <label class="form-check-label" for="plain_leather_armor">
                                    Plain Leather Armor
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="categories-terrain-header">
                        <buttton class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#categories-terrain-collapse" aria-expanded="true"
                            aria-controls="categories-terrain-collapse">
                            Terrain
                        </buttton>
                    </h2>
                    <div id="categories-terrain-collapse" class="arrordion-collapse collapse show"
                        aria-labelledby="categories-terrain-header">
                        <div class="accordion-body">
                            <!-- Alternate Bedrock -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="alternate_bedrock" />
                                <label class="form-check-label" for="alternate_bedrock">
                                    Alternate Bedrock
                                </label>
                            </div>
                            <!-- Circular Sun and Moon -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="circular_sun_and_moon" />
                                <label class="form-check-label" for="circular_sun_and_moon">
                                    Circular Sun and Moon
                                </label>
                            </div>
                            <!-- Circular Log Tops -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="circular_log_tops" />
                                <label class="form-check-label" for="circular_log_tops">
                                    Circular Log Tops
                                </label>
                            </div>
                            <!-- Smoother Oak Log -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="smoother_oak_log" />
                                <label class="form-check-label" for="smoother_oak_log">
                                    Smoother Oak Log
                                </label>
                            </div>
                            <!-- Fancy Sunflowers -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fancy_sunflowers" />
                                <label class="form-check-label" for="fancy_sunflowers">
                                    Fancy Sunflowers
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="categories-variation-header">
                        <buttton class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#categories-variation-collapse" aria-expanded="true"
                            aria-controls="categories-variation-collapse">
                            Variation
                        </buttton>
                    </h2>
                    <div id="categories-variation-collapse" class="arrordion-collapse collapse show"
                        aria-labelledby="categories-variation-header">
                        <div class="accordion-body">
                            <!-- Randomly Rotated Sunflowers -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="randomly_rotated_sunflowers" />
                                <label class="form-check-label" for="randomly_rotated_sunflowers">
                                    Randomly Rotated Sunflowers
                                </label>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="accordion-item">
                    <h2 class="accordion-header" id="categories-connectedTextures-header">
                        <buttton class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#categories-connectedTextures-collapse" aria-expanded="true"
                            aria-controls="categories-connectedTextures-collapse">
                            Connected Textures
                        </buttton>
                    </h2>
                    <div id="categories-connectedTextures-collapse" class="arrordion-collapse collapse show"
                        aria-labelledby="categories-connectedTextures-header">
                        <div class="accordion-body">
                            <!-- Connected Glass -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="connected_glass" />
                                <label class="form-check-label" for="connected_glass">
                                    Connected Glass
                                </label>
                            </div>
                            <!-- Connected Sandstone -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="connected_sandstone" />
                                <label class="form-check-label" for="connected_sandstone">
                                    Connected Sandstone
                                </label>
                            </div>
                            <!-- Connected Bookshelves -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="connected_bookshelves" />
                                <label class="form-check-label" for="connected_bookshelves">
                                    Connected Bookshelves
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="categories-utility-header">
                        <buttton class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#categories-utility-collapse" aria-expanded="true"
                            aria-controls="categories-utility-collapse">
                            Utility
                        </buttton>
                    </h2>
                    <div id="categories-utility-collapse" class="arrordion-collapse collapse show"
                        aria-labelledby="categories-utility-header">
                        <div class="accordion-body">
                            <!-- Sticky Piston Sides -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="sticky_piston_sides" />
                                <label class="form-check-label" for="sticky_piston_sides">
                                    Sticky Piston Sides
                                </label>
                            </div>
                            <!-- Groovy Levers -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="groovy_levers" />
                                <label class="form-check-label" for="groovy_levers">
                                    Groovy Levers
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="categories-unobtrusive-header">
                        <buttton class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#categories-unobtrusive-collapse" aria-expanded="true"
                            aria-controls="categories-unobtrusive-collapse">
                            Unobtrusive
                        </buttton>
                    </h2>
                    <div id="categories-unobtrusive-collapse" class="arrordion-collapse collapse show"
                        aria-labelledby="categories-unobtrusive-header">
                        <div class="accordion-body">
                            <!-- Lower Fire -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="lower_fire" />
                                <label class="form-check-label" for="lower_fire">
                                    Lower Fire
                                </label>
                            </div>
                            <!-- No Vignette -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="no_vignette" />
                                <label class="form-check-label" for="no_vignette">
                                    No Vignette
                                </label>
                            </div>
                            <!-- Clean World Border -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="clean_world_border" />
                                <label class="form-check-label" for="clean_world_border">
                                    Clean World Border
                                </label>
                            </div>
                            <!-- Short Swords -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="short_swords" />
                                <label class="form-check-label" for="short_swords">
                                    Short Swords
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="categories-fixes-header">
                        <buttton class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#categories-fixes-collapse" aria-expanded="true"
                            aria-controls="categories-fixes-collapse">
                            Fixes
                        </buttton>
                    </h2>
                    <div id="categories-fixes-collapse" class="arrordion-collapse collapse show"
                        aria-labelledby="categories-fixes-header">
                        <div class="accordion-body">
                            <!-- Updated Stat Icon Textures -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="updated_stat_icon_textures" />
                                <label class="form-check-label" for="updated_stat_icon_textures">
                                    Updated Stat Icon Textures
                                </label>
                            </div>
                            <!-- Updated Spectator Icon Textures -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="updated_spectator_icon_textures" />
                                <label class="form-check-label" for="updated_spectator_icon_textures">
                                    Updated Spectator Icon Textures
                                </label>
                            </div>
                            <!-- Redstone Wire Fix -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="redstone_wire_fix" />
                                <label class="form-check-label" for="redstone_wire_fix">
                                    Redstone Wire Fix
                                </label>
                            </div>
                            <!-- Consistent White Outlines -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="consistent_white_outlines" />
                                <label class="form-check-label" for="consistent_white_outlines">
                                    Consistent White Outlines
                                </label>
                            </div>
                            <!-- Cactus Bottom Fix -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="cactus_bottom_fix" />
                                <label class="form-check-label" for="cactus_bottom_fix">
                                    Cactus Bottom Fix
                                </label>
                            </div>
                            <!-- Cocoa Beans Top Fix -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="cocoa_beans_top_fix" />
                                <label class="form-check-label" for="cocoa_beans_top_fix">
                                    Cocoa Beans Top Fix
                                </label>
                            </div>
                            <!-- Consistent Helmets -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="consistent_helmets" />
                                <label class="form-check-label" for="consistent_helmets">
                                    Consistent Helmets
                                </label>
                            </div>
                            <!-- Pixel Consistent Tripwire -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="pixel_consistent_tripwire" />
                                <label class="form-check-label" for="pixel_consistent_tripwire">
                                    Pixel Consistent Tripwire
                                </label>
                            </div>
                            <!-- Pixel Consistent Experience Orbs -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="pixel_consistent_experience_orbs" />
                                <label class="form-check-label" for="pixel_consistent_experience_orbs">
                                    Pixel Consistent Experience Orbs
                                </label>
                            </div>
                            <!-- Pixel Consistent Beacon Beam -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="pixel_consistent_beacon_beam" />
                                <label class="form-check-label" for="pixel_consistent_beacon_beam">
                                    Pixel Consistent Beacon Beam
                                </label>
                            </div>
                            <!-- Pixel Consistent Guardian Beam -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="pixel_consistent_guardian_beam" />
                                <label class="form-check-label" for="pixel_consistent_guardian_beam">
                                    Pixel Consistent Guardian Beam
                                </label>
                            </div>
                            <!-- Blaze's Rods Fix -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="blazes_rods_fix" />
                                <label class="form-check-label" for="blazes_rods_fix">
                                    Blaze's Rods Fix
                                </label>
                            </div>
                            <!-- Slime Particle Fix -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="slime_particle_fix" />
                                <label class="form-check-label" for="slime_particle_fix">
                                    Slime Particle Fix
                                </label>
                            </div>
                            <!-- Nicer Fast Leaves -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="nicer_fast_leaves" />
                                <label class="form-check-label" for="nicer_fast_leaves">
                                    Nicer Fast Leaves
                                </label>
                            </div>
                            <!-- Don't Eat the Bowl! -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="dont_eat_the_bowl" />
                                <label class="form-check-label" for="dont_eat_the_bowl">
                                    Don't Eat the Bowl!
                                </label>
                            </div>
                            <!-- Hoe Fix -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hoe_fix" />
                                <label class="form-check-label" for="hoe_fix">
                                    Hoe Fix
                                </label>
                            </div>
                            <!-- Villager Cloak Fix -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="villager_cloak_fix" />
                                <label class="form-check-label" for="villager_cloak_fix">
                                    Villager Cloak Fix
                                </label>
                            </div>
                            <!-- Hopper Bottom Fix -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hopper_bottom_fix" />
                                <label class="form-check-label" for="hopper_bottom_fix">
                                    Hopper Bottom Fix
                                </label>
                            </div>
                            <!-- Cat Fix -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="cat_fix" />
                                <label class="form-check-label" for="cat_fix">
                                    Cat Fix
                                </label>
                            </div>
                            <!-- Beacon Alignment Fix -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="beacon_alignment_fix" />
                                <label class="form-check-label" for="beacon_alignment_fix">
                                    Beacon Alignment Fix
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Download button -->
            <button class="btn btn-primary btn-download">Download</button>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
    <script src="static/script.js"></script>
</body>

</html>