<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <title>Vanilla Tweaks 1.8.9</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Vanilla Tweaks for 1.8.9</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " href="https://vanillatweaks.net/picker/resource-packs/">Original</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container mt-4">
        <!-- New Default Textures -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="new_default_textures" checked disabled>
            <label class="form-check-label" for=" new_default_textures">New Default Textures</label>
        </div>
        <!-- Cherry Picking -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="cherry_picking">
            <label class="form-check-label" for="cherry_picking">Cherry Picking</label>
        </div>
        <!-- Vibrant Bed -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="vibrant_bed">
            <label class="form-check-label" for="vibrant_bed">Vibrant Bed Icon</label>
        </div>
        <!-- Splash Bottle o' Enchanting -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="splash_bottle_o_enchanting">
            <label class="form-check-label" for="splash_bottle_o_enchanting">Splash Bottle o' Enchanting</label>
        </div>
        <!-- Hoe fix -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="hoe_fix">
            <label class="form-check-label" for="hoe_fix">Hoe Fix</label>
        </div>
        <!-- Download button -->
        <button class="btn btn-primary d-block btn-download">Download</button>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="static/script.js"></script>
</body>

</html>