<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <title>Vanilla Tweaks 1.8.9</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Vanilla Tweaks for 1.8.9</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" target=”_blank” href="https://vanillatweaks.net/picker/resource-packs/">
                            Based on Vanilla Tweaks
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target=”_blank” href="https://github.com/lenemter/Vanilla-Tweaks-1.8.9">
                            Source Code
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container mt-4">
        <!-- New Default Textures -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="new_default_textures" checked disabled>
            <label class="form-check-label" for=" new_default_textures">
                New Default Textures
            </label>
        </div>
        <!-- Cherry Picking -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="cherry_picking">
            <label class="form-check-label" for="cherry_picking">
                Cherry Picking
            </label>
        </div>
        <!-- Vibrant Bed -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="vibrant_bed_icon">
            <label class="form-check-label" for="vibrant_bed_icon">
                Vibrant Bed Icon
            </label>
        </div>
        <!-- Splash Bottle o' Enchanting -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="splash_bottle_o_enchanting">
            <label class="form-check-label" for="splash_bottle_o_enchanting">
                Splash Bottle o' Enchanting
            </label>
        </div>
        <!-- Hoe Fix -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="hoe_fix">
            <label class="form-check-label" for="hoe_fix">
                Hoe Fix
            </label>
        </div>
        <!-- Nicer Fast Leaves -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="nicer_fast_leaves">
            <label class="form-check-label" for="nicer_fast_leaves">
                Nicer Fast Leaves
            </label>
        </div>
        <!-- Slime Particle Fix -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="slime_particle_fix">
            <label class="form-check-label" for="slime_particle_fix">
                Slime Particle Fix
            </label>
        </div>
        <!-- Blaze's Rods Fix -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="blazes_rods_fix">
            <label class="form-check-label" for="blazes_rods_fix">
                Blaze's Rods Fix
            </label>
        </div>
        <!-- Pixel Consistent Guardian Beam -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="pixel_consistent_guardian_beam">
            <label class="form-check-label" for="pixel_consistent_guardian_beam">
                Pixel Consistent Guardian Beam
            </label>
        </div>
        <!-- Pixel Consistent Beacon Beam -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="pixel_consistent_beacon_beam">
            <label class="form-check-label" for="pixel_consistent_beacon_beam">
                Pixel Consistent Beacon Beam
            </label>
        </div>
        <!-- Pixel Consistent Experience Orbs -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="pixel_consistent_experience_orbs">
            <label class="form-check-label" for="pixel_consistent_experience_orbs">
                Pixel Consistent Experience Orbs
            </label>
        </div>
        <!-- Pixel Consistent Tripwire -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="pixel_consistent_tripwire">
            <label class="form-check-label" for="pixel_consistent_tripwire">
                Pixel Consistent Tripwire
            </label>
        </div>
        <!-- Redstone Wire Fix -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="redstone_wire_fix">
            <label class="form-check-label" for="redstone_wire_fix">
                Redstone Wire Fix
            </label>
        </div>
        <!-- Cactus Bottom Fix -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="cactus_bottom_fix">
            <label class="form-check-label" for="cactus_bottom_fix">
                Cactus Bottom Fix
            </label>
        </div>
        <!-- Consistent Helmets -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="consistent_helmets">
            <label class="form-check-label" for="consistent_helmets">
                Consistent Helmets
            </label>
        </div>
        <!-- Consistent White Outlines -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="consistent_white_outlines">
            <label class="form-check-label" for="consistent_white_outlines">
                Consistent White Outlines
            </label>
        </div>
        <!-- Tuxedo Cat Fix -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="tuxedo_cat_fix">
            <label class="form-check-label" for="tuxedo_cat_fix">
                Tuxedo Cat Fix
            </label>
        </div>
        <!-- Don't Eat the Bowl! -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="dont_eat_the_bowl">
            <label class="form-check-label" for="dont_eat_the_bowl">
                Don't Eat the Bowl!
            </label>
        </div>
        <!-- Hopper Bottom Fix -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="hopper_bottom_fix">
            <label class="form-check-label" for="hopper_bottom_fix">
                Hopper Bottom Fix
            </label>
        </div>
        <!-- Updated Stat Icon Textures -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="updated_stat_icon_textures">
            <label class="form-check-label" for="updated_stat_icon_textures">
                Updated Stat Icon Textures
            </label>
        </div>
        <!-- Updated Spectator Icon Textures -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="updated_spectator_icon_textures">
            <label class="form-check-label" for="updated_spectator_icon_textures">
                Updated Spectator Icon Textures
            </label>
        </div>
        <!-- Diffrent Stems -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="diffrent_stems">
            <label class="form-check-label" for="diffrent_stems">
                Diffrent Stems
            </label>
        </div>
        <!-- Red Iron Golem Flowers -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="red_iron_golem_flowers">
            <label class="form-check-label" for="red_iron_golem_flowers">
                Red Iron Golem Flowers
            </label>
        </div>
        <!-- Plain Leather Armor -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="plain_leather_armor">
            <label class="form-check-label" for="plain_leather_armor">
                Plain Leather Armor
            </label>
        </div>
        <!-- Fancy Sunflowers -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="fancy_sunflowers">
            <label class="form-check-label" for="fancy_sunflowers">
                Fancy Sunflowers
            </label>
        </div>
        <!-- Circular Log Tops -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="circular_log_tops">
            <label class="form-check-label" for="circular_log_tops">
                Circular Log Tops
            </label>
        </div>
        <!-- Alternate Bedrock -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="alternate_bedrock">
            <label class="form-check-label" for="alternate_bedrock">
                Alternate Bedrock
            </label>
        </div>
        <!-- Circular Sun and Moon -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="circular_sun_and_moon">
            <label class="form-check-label" for="circular_sun_and_moon">
                Circular Sun and Moon
            </label>
        </div>
        <!-- Smoother Oak Log -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="smoother_oak_log">
            <label class="form-check-label" for="smoother_oak_log">
                Smoother Oak Log
            </label>
        </div>
        <!-- Randomly Rotated Sunflowers -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="randomly_rotated_sunflowers">
            <label class="form-check-label" for="randomly_rotated_sunflowers">
                Randomly Rotated Sunflowers
            </label>
        </div>
        <!-- Groovy Levers -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="groovy_levers">
            <label class="form-check-label" for="groovy_levers">
                Groovy Levers
            </label>
        </div>
        <!-- Sticky Piston Sides -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="sticky_piston_sides">
            <label class="form-check-label" for="sticky_piston_sides">
                Sticky Piston Sides
            </label>
        </div>
        <!-- Lower Fire -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="lower_fire">
            <label class="form-check-label" for="lower_fire">
                Lower Fire
            </label>
        </div>
        <!-- Short Swords -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="short_swords">
            <label class="form-check-label" for="short_swords">
                Short Swords
            </label>
        </div>
        <!-- Clean World Border -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="clean_world_border">
            <label class="form-check-label" for="clean_world_border">
                Clean World Border
            </label>
        </div>
        <!-- No Vignette -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="no_vignette">
            <label class="form-check-label" for="no_vignette">
                No Vignette
            </label>
        </div>
        <!-- Download button -->
        <button class="btn btn-primary btn-download">Download</button>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="static/script.js"></script>
</body>

</html>