body {
    padding-top: 2rem;
    padding-bottom: 3rem;

    min-height: 101vh;  /* Always visible scroolbar*/
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 1.5rem;
    }
}

.tweak {
    width: 258px; /* 256px (image size) + 2px (border) */
    min-width: 258px !important;
}

.tweak > img {
    width: 256px;
    object-fit: cover;
}
