body {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 1.5rem;
    }
}

.navbar > .container-fluid {
    max-width: 96rem;
}

.tweak {
    width: 258px; /* 256px (image size) + 2px (border) */
    min-width: 258px !important;
}

.tweak > img {
    width: 256px;
}
